* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
#encabezado-principal {
  background: rgb(250, 248, 248);
  color: rgb(0, 0, 0);
  height: 80px;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
#encabezado-principal a {
  color: rgb(0, 0, 0);
}
#logo {
  float: left;
  padding: 15px 0 0 20px;
  text-decoration: none;
}
#logo:hover {
  color: #919292;
}
#logo .nombre {
  display: block;
  font-weight: 700;
  font-size: 1.2em;
}
#logo .descripcion {
  display: block;
  font-weight: 300;
  font-size: 0.8em;
  color: #999;
}
nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
}
nav ul li a {
  display: block;
  padding: 0 10px;
  font-weight: bolder;
  text-decoration: none;
}
nav ul li a:hover {
  background: #999999;
  color: white;
}
#imagen {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../media/plataneras.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 300px;
  padding: 180px 150px;
  text-align: center;
  color: white;
}
#imagen h1,
#texto-video h1 {
  font-size: 3em;
}
#imagen p,
#texto-video p {
  font-size: 1.5em;
}
#imagen p:last-child,
#texto-video p:last-child {
  font-size: 1em;
  padding: 20px 250px;
}
video {
  min-width: 100%;
  min-height: 80%;
  width: 100px;
  position: fixed;
  z-index: -1;
  /*centrado del video*/
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
}
#texto-video {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 120px 150px 20px 80px;
  text-align: center;
}
article {
  margin: 100px 500px 100px 500px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  border: solid black;
  color: black;
  margin-top: 500px;
  text-align: justify;
  font-weight: bolder;
  font-size: 1.2em;
  font-style: italic;
  box-shadow: 5px 5px 40px;
}
#acercaDe {
  background-color: #919292;
  padding: 155px 100px;
}
aside {
  position: absolute;
  float: left;
  right: 300px;
  top: 20%;
  padding: 15px;
  background-color: rgb(214, 209, 214);
  border: solid rgb(0, 0, 0);
  font-size: 16px;
  width: 30%;
  height: 50%;
  margin-right: 10px;
  box-shadow: 5px 5px 40px;
}
aside ul {
  padding: 30px;
}
aside li {
  padding: 15px;
  font-size: 1.2em;
}
footer {
  width: 100%;
  background-color: rgb(250, 248, 248);
  font-size: 0.8em;
}
.container_footer {
  display: flex;

  justify-content: space-around;
  margin-bottom: 0;
}
.box_footer {
  display: flex;
  flex-direction: column;
  padding: 30px 50px 5px 50px;
}
.box_footer .datos {
  margin-top: 30px;
  color: black;
  font-weight: bolder;
}
.box_footer h3 {
  margin-bottom: 5px;
  color: black;
  font-weight: bolder;
}
.box_footer a {
  margin-top: 5px;
  color: black;
}
.box_footer a:hover {
  color: rgb(133, 130, 130);
}
